{% extends "PanelDeControl/base.html" %}

{% load static %}

{% block content %}
    <!-- Message -->
    <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <p class="mb-0">Esta será la sección que nos permitira probar las apis de los diferentes servicios estilo fastapi/docs pero pudiendo probar apis de diferentes proyectos e incluso desarrolladas con diferentes tecnologías</p>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}