{% extends "PanelDeControl/base.html" %}

{% load static %}

{% block content %}
<div style="background-color: rgb(37, 188, 150);">
    <h1>Lista de Tareas</h1>
    <ul>
        {% for tarea in tareas %}
        <li>
            <label>
                <input type="checkbox" onclick="toggleTareaCompletada({{ tarea.id }}, this)" {% if tarea.completada %}checked{% endif %}>
                {{ tarea.descripcion }}
            </label>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script>
    const actualizarTareasUrl = "{% url 'actualizar_tareas' %}";
    const csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'PanelDeControl/js/estado_tarea.js' %}"></script>
{% endblock %}