{% extends "PanelDeControl/base.html" %}

{% load static %}

{% block content %}
<div class="transparend-div">
    <div class="bordered-paragraph">
        <h1 class="section-heading">Lista de Tareas</h1>
        <ul class="styled-list">
            {% for tarea in tareas %}
            <li>
                <label>
                    <input type="checkbox" onclick="toggleTareaCompletada({{ tarea.id }}, this)" {% if tarea.completada %}checked{% endif %}>
                    {{ tarea.descripcion }}
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
<script>
    const actualizarTareasUrl = "{% url 'actualizar_tareas' %}";
    const csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'PanelDeControl/js/estado_tarea.js' %}"></script>
{% endblock %}